*, ::before, ::after {
    box-sizing: border-box;
}
/* ===== TYPOGRAPHY ===== */

h1 {
    color: #333333;
}

/* ===== GENERAL LAYOUT STYLES ===== */

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
    color: #333333;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background: hsl(215deg 43% 55%);
    margin-bottom: 2em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
    margin-top: auto;
}

section {
    width: 80%;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 1.2em 4em;
    background: hsl(215deg 43% 55%);
    color: #F9F6EE;
}

/* ===== NAV LAYOUT STYLES ===== */

/* nav {
    display: flex;
    justify-content: space-between;
    padding: 0.6em 1em;
}

.nav-links-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-link {
    display: inline-block;
}

.nav-link > a {
    text-decoration: none;
    color: #F5F5F5;
} */

.logged-in-nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6em;
}

.sign-out-btn {
    cursor: pointer;
}

/* ===== AUTHENTICATION PAGE STYLES ===== */

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.app-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0.5em;
}

.authn-fields-and-btns {
    display: flex;
    flex-direction: column;
}

.email-input,
.password-input {
    resize: none;
    outline: none;
    width: 100%;
    margin: 0.8em 0;
    border: 0;
    border-bottom: 2px solid #1E90FF;
    border-radius: 0.6em;
    padding: 0.8em 1.2em;
    font-family: inherit;
}

.authn-buttons {
    display: flex;
    flex-direction: column;
}

/* ===== TERM FORM LAYOUT ===== */

.logged-in-view {

}

.term-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
}

.input-container {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

.textarea-label {
    font-size: 1.6rem;
}

.textarea-input {
    resize: none;
    outline: none;
    width: 100%;
    margin: 0.8em 0;
    border: 0;
    border-bottom: 2px solid #1E90FF;
    border-radius: 0.6em;
    padding: 0.8em 1.2em;
    font-family: inherit;
}

/* ===== BUTTON STYLES ===== */

.btn {
    min-width: 100px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0.8em 0;
    cursor: pointer;
    position: relative;
    font-family: inherit;
}

.btn-shadow {
    position: relative;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.6em;
    background: hsl(0deg 0% 0% / 0.25);
    transform: translateY(2px);
    filter: blur(4px);
}

.btn-edge {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.6em;
    background: hsl(215deg 43% 55%);
}

.btn-front {
    display: block;
    border-radius: 0.6em;
    padding: 0.8em 1.8em;
    background: hsl(220, 43%, 75%);
    color: #F9F6EE;
    font-size: 1.4em;
    font-weight: 700;
    transform: translateY(-4px);
    position: relative;
    transition: 
        transform 100ms
        cubic-bezier(.3, .7, .4, .1);
}

.btn:hover .btn-front {
    transform: translateY(-6px);
    transition: 
        transform 250ms
        cubic-bezier(.3, .7, .4, .1.5);
}
.btn:hover .btn-shadow {
    transform: translateY(4px);
}
.btn:active .btn-front {
    transform: translateY(-2px);
}
.btn:active .btn-front {
    transform: translateY(1px);
}
.btn:focus:not(:focus-visible) {
    outline: none;
}

/* ===== MEDIA QUERIES ===== */

@media (min-width: 768px) {
    .container {
        max-width: 440px;
        margin: 0 auto;
    }
    .authn-buttons {
        flex-direction: row;
        justify-content: space-between;
    }
    .sign-in-btn,
    .create-acct-btn {
        width: 48%;
    }
}

/* ===== IDs ===== */
#logged-out-view {
    display: none;
}

#logged-in-view {
    display: none;
}